{{- $scratch := newScratch }}
<span>Create:&nbsp;&nbsp;</span>
{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}

&nbsp;&nbsp;|&nbsp;&nbsp;<span>Update:&nbsp;&nbsp;{{ .Params.lastmod.Format (default "January 2, 2006" .Site.Params.DateFormat) }}</span>